{% extends "CalendarBundle::layout.html.twig" %}
{% block body %}
    {%set theme = 'well'%}
    {%if calendar.theme == 'Bleu' %}
        {%set theme = 'alert-info'%}
    {%elseif calendar.theme == 'Jaune'%}
        {%set theme = 'alert-warning'%}
    {%elseif calendar.theme == 'Rouge'%}
        {%set theme = 'alert-danger'%}
    {%elseif calendar.theme == 'Vert'%}
        {%set theme = 'alert-success'%}
    {%endif%}
    <div class="container-fluid">
        <div class="col-md-12 {{theme}}">
            <div class='pull-right'>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{app.user.nom}} {{app.user.prenom}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{path('calendar_edit_profil')}}" data-toggle="modal" data-target="#editProfil">Modifier mon Profil</a></li>
                        <li><a href="{{path('fos_user_security_logout')}}">Se Deconnecter</a></li>
                    </ul>
                </div>
            </div>
            <br>
            <h1 class="text-center"> {{calendar.nom}} </h1>
            <h5 class="text-center">Créé le {{calendar.dateCreation|date("d/m/Y")}}</h5>
            <br>
            <a class="btn btn-success" data-toggle="modal" data-target="#addEvent" href="{{path('calendar_add_event')}}">Ajouter un évènement</a>
            <a class="btn btn-default pull-right" data-toggle="modal" data-target="#config" href="{{path('calendar_config')}}">Panneau de configuration</a>
            <a class="btn btn-default pull-right" data-toggle="modal" data-target="#share" href="{{path('calendar_share')}}">Partage</a>

            <div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editProfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div id='calendar'></div>
        </div>
    </div>
    <script>
        $(document).ready(function () {

            $('#calendar').fullCalendar({
                activate: function (event, ui) {
                    $("#calendar").fullCalendar("render");
                },
                lang: "fr",
                eventStartEditable: false,
                eventDurationEditable: false,
                eventLimit: true,
                theme: true,
                allDaySlot: false,
                header: {
                    left: "prev,next today",
                    center: "title",
                    right: "month,agendaWeek,agendaDay"
                },
                eventClick: function (view) {
                    var id = view.id;
                    var url = '{{path('calendar_detail_event', {'event' : 'id_event'})}}';
                    url = url.replace('id_event', id);

                    $(location).attr('href', url);
                },
                editable: true,
                events: [
        {%for event in calendar.events%}
                        {
                            title: "{{event.titre}}",
                            start: '{{event.dateDebut|date('Y/m/d')}} {{event.heureDebut|date('h:i')}}',
                            end: '{{event.dateFin|date('Y/m/d')}} {{event.heureFin|date('h:i')}}',
                            id: '{{event.id}}'
                        },
        {%endfor%}
        {%for calendar in app.user.calendars%}
            {%for event in calendar.events%}
                             {
                                 title: "{{event.titre}}",
                                 start: '{{event.dateDebut|date('Y/m/d')}} {{event.heureDebut|date('h:i')}}',
                                 end: '{{event.dateFin|date('Y/m/d')}} {{event.heureFin|date('h:i')}}',
                                 id: '{{event.id}}'
                             },
            {%endfor%}
        {%endfor%}
                    ]
                });

            });

    </script>

{% endblock %}
