<html>
    <head>  
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/fullcalendar.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/default.date.css')}}">
        <link rel="stylesheet" href="{{asset('css/default.time.css')}}">
        <link rel="stylesheet" href="{{asset('css/default.css')}}">
        <link rel="stylesheet" href="{{asset('css/main.css')}}">

        <script src="{{asset('js/jquery.min.js')}}"></script>
        <script src="{{asset('js/jquery-ui.custom.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>

        <script src="{{asset('js/moment.min.js')}}"></script>
        <script src="{{asset('js/fullcalendar.min.js')}}"></script>
        <script src="{{asset('js/lang-all.js')}}"></script>
        <script src="{{asset('js/picker.js')}}"></script>
        <script src="{{asset('js/legacy.js')}}"></script>
        <script src="{{asset('js/picker.date.js')}}"></script>
        <script src="{{asset('js/picker.time.js')}}"></script>
    </head>
    <body>
        {%block body%}
        {%endblock%}
    </body>
</html>
