<div class="modal-content" style="color:#000">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Modifier un évènement</h4>
    </div>
    {{ form_start(form) }}
    <div class="modal-body">
        <div class="form-group">
            {{ form_row(form.titre) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
        <div class="form-group">
            {{ form_row(form.lieu) }}
        </div>
        <div class="form-group">
            {{ form_row(form.dateDebut) }}
        </div>
        <div class="form-group">
            {{ form_row(form.dateFin) }}
        </div>
        <div class="form-group">
            {{ form_row(form.heureDebut) }}
        </div>
        <div class="form-group">
            {{ form_row(form.heureFin) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"> Modifier</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
    </div>
    {{ form_end(form)}}
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        $('.datepicker').pickadate({
            // mois
            monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Jun', 'Jul', 'Aou', 'Sep', 'Oct', 'Nov', 'Déc'],
            // jours
            weekdaysFull: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
            weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            //boutons
            today: 'Ajourd\'hui',
            clear: 'Effacer',
            close: 'Fermer',
            // labels
            labelMonthNext: 'Mois suivant',
            labelMonthPrev: 'Mois précédent',
            labelMonthSelect: 'Séléctionner un mois',
            labelYearSelect: 'Séléctionner une année',
            //format de date
            format: 'dddd d mmmm yyyy',
            formatSubmit: 'dd-mm-yyyy hh:ii:ss',
            hiddenName: true,
            // premier jour de semaine : lundi
            firstDay: 1,
        });
        $('.timepicker').pickatime({
            // Translations and clear button
            clear: 'Effacer',
            // Formats
            format: 'H:i',
            formatSubmit: 'H:i',
            // Time intervals
            interval: 30,
            // Close on a user action
            closeOnSelect: true,
            closeOnClear: true,
            // Classes
            klass: {
                // The element states
                input: 'picker__input',
                active: 'picker__input--active',
                // The root picker and states *
                picker: 'picker picker--time',
                opened: 'picker--opened',
                focused: 'picker--focused',
                // The picker holder
                holder: 'picker__holder',
                // The picker frame, wrapper, and box
                frame: 'picker__frame',
                wrap: 'picker__wrap',
                box: 'picker__box',
                // List of times
                list: 'picker__list',
                listItem: 'picker__list-item',
                // Time states
                disabled: 'picker__list-item--disabled',
                selected: 'picker__list-item--selected',
                highlighted: 'picker__list-item--highlighted',
                viewset: 'picker__list-item--viewset',
                now: 'picker__list-item--now',
                // Clear button
                buttonClear: 'picker__button--clear'
            }
        });
    });
</script>